 <div id="article">
<h1>Edit Article</h1>

<% @existing_article.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>

<!-- Creates a PUT request to "/users/1/edit" -->
<%#= form_for(@existing_recruit, :as => "user", :url => user_path(@existing_recruit.id), :method => "put") ... %>

<%= form_for (@existing_article) do |f| %>

   <%= f.label :title %>
   <%= f.text_field :title %>
 
   <%= f.label :body %>
   <%= f.text_field :body %>
  
  <%= f.submit %>

<% end %>

<p><%= link_to("Delete this article", delete_article_path, :method => :delete) %></p>
<p><%= link_to 'Go Back', articles_path %></p>

</div>