<div id="article">
<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<%= session[:id] %>

<p>Likes: <%= @all_likes.length %></p>


  <% if @ip %>
    <%= form_for @like do |f| %>
      <%= f.hidden_field :article_id, value: @article.id %>
      <%= f.hidden_field :ip_address, value: request.remote_ip %> 
      <%= f.submit value: "Like" %> 
    <% end %>
  <% end %>
   

 <p><%= link_to('Edit', edit_article_path(@article.id)) %></p>
 <p><%= link_to('Back', articles_path) %></p>
 
</div>


