 <div id="contact">
<h1><%= @contact.name %></h1>
<p><%= @contact.email %></p>
<p><%= @contact.message %></p>

<p><%= link_to("Edit this contact", edit_contact_path(@contact.id)) %></p>
<p><%= link_to("Home", contact_path) %></p>

</div>