 <div id="contact">
<h1><%= @contact.name %></h1>
<p><%= @contact.email %></p>
<p><%= @contact.message %></p>

<p><%= link_to("Edit", edit_contact_path) %></p>
<p><%= link_to("View All", contact_path) %></p>
<p><%= link_to 'Go Home', root_path %></p>

</div>
