 <div id="project">
<h1>New Project</h1>
 
<% @class_project.errors.full_messages.each do |msg| %>
 
<p><%= msg %></p>
 
<% end %>
 
<!-- Creates a POST request to "/classprojects" -->
 
<%= form_for @class_project do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	
	<%= f.label :summary %>
	<%= f.text_field :summary %>
	
	<%= f.label :code_language %>
	<%= f.text_field :code_language %>
	
	<%= f.label :github %>
	<%= f.text_field :github %>
  
	<%= f.label :link %>
	<%= f.text_field :link %>
  
	
	<%= f.submit %>
	
<% end %>

<p><%= link_to 'Go Home', root_path %></p>

</div>


<p><%= link_to("Home", root_path)%></p>