 <div id="link">
<h1>New Link</h1>

<% @link.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>

<!-- Creates a POST request to "/users" -->
<%= form_for @link, :url => "/links" do |f| %>

   <%= f.label :name %>
   <%= f.text_field :name %>
 
   <%= f.label :url %>
   <%= f.text_field :url %>

  <%= f.submit %>

<% end %>

</div>